<?xml version="1.0" encoding="utf-8" ?>

<!-- Sarebbe interessante cominciare ad usare XML: un paio di link per dare l'idea:  -->
<!-- http://stackoverflow.com/questions/2441673/reading-xml-with-xmlreader-in-c-sharp -->
<!-- https://commons.apache.org/proper/commons-configuration/userguide/howto_xml.html -->
<configuration>
  <!-- audio settings -->
  <!-- video settings -->
</configuration>